body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fdefc4;
  margin: 20px;
  color: #333;
}

.image-container {
  text-align: center;
  margin: 10px auto;
}

#countdown {
  font-size: 40px;
  color: #ff6b6b;
  margin: 20px;
}

img {
  max-width: 200px;
  /* Set a specific width */
  height: auto;
  border-radius: 10px;
  /* Center the image */
  display: inline-block;
}

h1 {
  color: #4ecdc4;
  font-size: 24px;
}

@media (min-width: 768px) {
  img {
    max-width: 300px;
    /* Larger size for wider screens */
  }

  body {
    margin: 100px;
  }

  h1 {
    font-size: 32px;
  }
}
